/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-center {
  min-height: 80%;
  min-height: 80vh;
}

.home {
  margin-bottom: 50px;
}

.amplify-authenticator {
  width: 400px;
  margin: auto;
}

.amplify-form-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.amplify-form-body {
  padding: 0;
}

.amplify-form-row {
  display: "flex";
  margin-bottom: 1rem;
}

.amplify-form-cell-left {
  float: left;
  margin: 8px 0 8px 8px;
}

.amplify-form-cell-right {
  float: right;
  margin: 8px 8px 8px 0;
}

.amplify-form-link {
  cursor: pointer;
  font-weight: 400;
  color: #007bff !important;
  background-color: transparent;
}

.amplify-form-link:hover {
  color: #0056b3;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.amplify-form-button {
  color: #fff;
  background-color: #95a5a6;
  border-color: #95a5a6;

  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.add-todo-btn {
  color: #fff;
  background-color: #f1c40f;
  border-color: #f1c40f;
  height: 28px;
  font-size: 15px;
  margin-left: 10px;
}

.completed {
  color: #27ae60;
  text-decoration: line-through;
}

.complete-todo-btn {
  color: #fff;
  background-color: #27ae60;
  border-color: #27ae60;
  height: 28px;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 5px;
}

.delete-todo-btn {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
  height: 28px;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 5px;
}

.todo-item {
  font-size: 15px;
  height: 20px;
  width: 300px;
}

.amplify-form-button:hover {
  color: #fff;
  background-color: #95a5a6;
  border-color: #95a5a6;
}

.amplify-footer {
  clear: both;
}

.amplify-form-message-error {
  margin: 0.5em 0 0.5em 2em;
  clear: both;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
