<!-- /.Main -->
<div>
  <h2>
    Hi {{username}}!
  </h2>
  <div>
    <input type="text" class="todo-item" placeholder="Type a thing" #text>
    <button class="add-todo-btn" (click)="addTodo(text)">Add</button>
  </div>
  <br/>
  <div *ngFor="let item of todos; let i = index">
    <span [class.completed]="item.status === 'completed'">{{item.todo}}</span>
    <button class="complete-todo-btn" (click)="completeTodo(item, i)">Complete</button>
    <button class="delete-todo-btn" (click)="deleteTodo(item, i)">Delete</button>
    <br>
  </div>
  <br>
  <br>
  <button class="amplify-form-button " (click)="logOut() ">Logout</button>
</div>