<!-- /.Main -->
<div>
  <h2>
    Hi {{username}}!
  </h2>
  <div>
    <input type="text" class="todo-item" placeholder="Type a thing" #todo>
    <button class="add-todo-btn" (click)="addTodo(todo)">Add</button>
  </div>
  <br/>
  <p *ngIf="!pendingTodos.length">No Pending Todos</p>
  <div *ngFor="let item of pendingTodos; let i = index">
    <span>{{item}}</span>
    <button class="complete-todo-btn" (click)="completeTodo(item, i)">Complete</button>
    <button class="delete-todo-btn" (click)="deleteTodo(item, i)">Delete</button>
    <br>
  </div>
  <br>
  <div *ngIf="completedTodos.length">
    <p class="completed-items">Completed Items</p>
    <div *ngFor="let item of completedTodos">
      <span>{{item}}</span>
      <br>
    </div>
  </div>
  <br>
  <button class="amplify-form-button " (click)="logOut() ">Logout</button>
</div>